html {
  position: relative;
  min-height: 100%;
}

html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #dcdfda;
}

header,
footer {
  background-color: #4b5943;
  color: #dcdfda;
}

footer > div > ul > li > a,
footer {
  color: #dcdfda;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  height: 100px;
}
